RewriteEngine On

# 1. Externally redirect /file.html to /file (301 Permanent Redirect)
RewriteCond %{THE_REQUEST} \s/+(.+?)\.html[\s?] [NC]
RewriteRule ^ /%1 [R=301,L]

# 2. Internally rewrite /file to /file.html (Server-side rewrite)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L]
